html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 45%;
    background: url(../img/wide-logo.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
    background-color: #333333;
    color: #bbbbbb;
}

.about-text {
    padding: 60px 20px;
}

.about-text-description {
    font-size: 1.15em;
    /*font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

.about-title {
    color: #D6AA01;
}


/* Featured Items */

.captioned-slider {
    width: 100%;
    overflow: hidden;
}

.captioned-slider {
    height: 300px;
    width: 450px;
    overflow-x: scroll;
    margin: auto;
}

.slide {
    height: 300px;
    width: 450px;
}

/*.slide:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, black);
}*/

#slide-0 {
    background-image: url(../img/beers-on-tap.jpg);
}

#slide-1 {
    background-image: url(../img/portfolio-2.jpg);
}

#slide-2 {
    background-image: url(../img/portfolio-3.jpg);
}

/*holder width should be 100% * the number of slides*/

.holder {
    width: 300%;
}

/* Specials */

.specials {
    background-color: #222222;
    color: #bbbbbb;
}

.special-box {
    min-height: 200px;
    background-color: #444444;
    margin-top: -20px;
    padding: 20px;
    text-align: center;
}

@media(max-width:768px) {
    .special-box {
        width: 487px;
        margin: auto;
    }
}

.specials-three-item-row {
    margin-left: 12.5%;
}

.special-item:hover {
    opacity: 0.8;
}

.special-item img {
    padding-top: 35px;
}

.special-text {
    font-size: 1.15em;
    color: #D6AA01;
}

.specials {
    padding: 50px 0;
}

.special-item {
    margin-bottom: 30px;
}

.img-special {
    margin: 0 auto;
}

.img-special:hover {
    opacity: 0.8;
}

/* Map */

.map {
    height: 420px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 100px 0;
    background-color: #222222;
    color: #bbbbbb;
}

i {
    color: #D6AA01;
}

.list-unstyled a {
    color: #D6AA01;
}

.footer-title {
    color: #D6AA01;
}
